<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body class="duration-200 ease-out 
            text-black dark:text-white
            prose prose-neutral dark:prose-invert
            font-wenkai
            ">
    <main>
        <div class="mx-auto min-h-[calc(100%-9rem)] max-w-4xl">
            {{- partial "header.html" . -}}
            <div class="px-8 pb-16 pt-12 relative">
                {{- block "main" . }}{{- end }}
            </div>
        </div>
    </main>


    {{- partial "footer.html" . -}}
</body>

</html>