{{ define "main" }}

<div class="mx-auto w-full md:w-3/4 lg:w-3/4 xl:w-1/2 ">
    <div class="flex flex-col mt-10">
        <div class="text-center">
            <a class="text-3xl">{{ .Title }}</a>
        </div>
        <div class="text-center mt-4">
            <a class="text-base text-gray-400">{{ .Params.publishDate.Format "2006-01-02" }} </a>
        </div>
    </div>

    {{ if .Params.toc}}
    <div class="markdown-body">
        <div class="font-wenkai">
            {{ .TableOfContents }}
        </div>
    </div>
    {{ end }}

    <div class="markdown markdown-body">
        <div class="font-wenkai">
            {{ .Content }}
        </div>
    </div>

</div>

{{ end }}