{{ define "main" }}

<div class="mx-auto w-full md:w-3/4 lg:w-3/4 xl:w-5/8 ">
    <div class="text-center mt-16 mb-8">
        <a class="text-3xl">{{.Title}}</a>
    </div>

    {{ range .Data.Pages.GroupByDate "2006" }}
    <a class="mb-4 text-2xl">{{ .Key }}</a>

    {{ range .Pages }}
    <div class="flex flex-wrap">
        <div class="mx-auto w-full px-8 py-6 ">
            <a class="text-base mx-4">{{ .Params.publishDate.Format "01-02" }} </a>
            <a href="{{ .RelPermalink }}"
                class="text-xl font-bold sm:text-xl text-gray-900 title-font mb-2 red-hover">{{ .Title }}</a>
        </div>
    </div>
    {{ end }}
    {{ end }}
</div>

{{ end }}