@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: wenkai;
  }

  h1 {
    @apply text-3xl;
    font-weight:bold;
    padding-top: 30pt;
    padding-bottom: 20pt;
    margin-bottom: 10pt;
    text-align: center

  }

  h2 {
    @apply text-3xl;
    font-weight:bold;
    padding-top: 30pt;
    padding-bottom: 20pt;
    margin-bottom: 10pt;
  }

  h3 {
    @apply text-2xl;
    font-weight:bold;
    padding-top: 30pt;
    padding-bottom: 20pt;
    margin-bottom: 10pt;
  }

  h4 {
    @apply text-xl;
    font-weight:bold;
    padding-top: 30pt;
    padding-bottom: 20pt;
    margin-bottom: 10pt;
  }

  h5 {
    @apply text-lg;
    padding-top: 10pt;
    margin-bottom: 10pt;
  }

  h6 {
    @apply text-base;
    padding-top: 10pt;
    margin-bottom: 10pt;
  }

  .highlight {
    margin-top: 20px;
  }

  strong {
    font-weight: bolder;
    /* text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); */
    background: linear-gradient(rgb(229 21 21 / 63%), rgb(243 212 106 / 46%))no-repeat 50% 110%/110% 4px
  }
}

@layer components {

  /*  这里定义的是超链接的样式  */
  .link-decorator a {
    position: relative;
    text-decoration: none;
    color: #19afc6;
    /* 浅蓝色 */
    transition: color 0.3s ease;
    /* 平滑过渡效果 */
  }

  .link-decorator a:hover {
    color: #1368df;
    /* 深蓝色，你可以替换成你喜欢的深蓝色 */
  }

  .link-decorator a::after {
    /* https://www.fuhaoku.net/blocks */
    /* content: '\21AF'; */
    content: '\21B5';
    /* margin-left: 0.1rem; */
    margin-left: 0.15rem;
  }

  .link-decorator a::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 1px;
    background-color: currentColor;
  }


}


@layer utilities {}