@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: wenkai;
  }

  h1 {
    @apply text-3xl;
    font-weight: bold;
    padding-top: 30pt;
    padding-bottom: 20pt;
    text-align: center
  }

  h2 {
    @apply text-3xl;
    /* font-weight: bold; */
    padding-top: 30pt;
    padding-bottom: 20pt;
  }

  h3 {
    @apply text-2xl;
    /* font-weight: bold; */
    padding-top: 30pt;
    padding-bottom: 20pt;
  }

  h4 {
    @apply text-xl;
    /* font-weight: bold; */
    padding-top: 30pt;
    padding-bottom: 20pt;
  }

  h5 {
    @apply text-lg;
    padding-top: 10pt;
  }

  h6 {
    @apply text-base;
    padding-top: 10pt;
  }

  ol {
    @apply list-triangle
  }

  ul {
    @apply list-shadowed_white_circle
  }

  ul ul {
    @apply pl-8
  }

  li {
    @apply mt-2 mb-2 hover:list-heavy_rightwards_arrow
  }
  
  pre code {
    @apply mt-5 mb-5 
  }

  blockquote {
    @apply mt-4 mb-4 p-4 rounded-lg bg-gray-100 text-gray-600 border-l-4 border-gray-400 transition-all duration-300 ease-in-out hover:bg-gray-200
  }

  strong {
    font-weight: bolder;
    background: linear-gradient(rgb(229 21 21 / 63%), rgb(243 212 106 / 46%))no-repeat 50% 110%/110% 4px
  }
}

@layer components {

  .link-decorator a {
    position: relative;
    text-decoration: none;
    padding-left: 1px;
    padding-right: 1px;
    color: #19afc6;
    transition: color 0.3s ease;
  }

  .link-decorator a:hover {
    color: #1368df;
  }

  .link-decorator a::after {
    /* https://www.fuhaoku.net/blocks */
    /* content: '\21B5'; */
    content: '\21AF';

    margin-left: 0.15rem;
  }

  .link-decorator a::before {
    content: '';
    position: absolute;
    left: 1px;
    right: 1px;
    bottom: -2px;
    height: 1px;
    background-color: currentColor;
  }
}


@layer utilities {}