{{ define "main" }}

<div class="mx-auto w-full md:w-3/4 lg:w-3/4 xl:w-3/5 ">
    <div class="container mx-auto min-h-screen flex flex-col justify-center">

        <!-- 顶部标题和描述 -->
        <div class="flex flex-col text-center w-full mb-20">
            <a href="/" class="text-3xl text-gray-900 font-bold mb-4 tracking-widest">{{ .Site.Title }}</a>
            <p class="mx-auto text-sm text-blue-400  lg:w-2/3">{{.Site.Params.description}}</p>
        </div>

        <!-- 404信息部分 -->
        <div class="w-full px-8 py-8 border rounded-lg shadow-md bg-white text-center">
            <h2 class="text-4xl text-blue-500 font-bold mb-4">404</h2>
            <p class="text-lg mb-4">很抱歉，你访问的页面不存在。</p>
            <p class="text-lg mb-4">提示:你可以根据url去所有文章里看一下有没有</p>
            <p class="text-lg mb-4">(我可能会改文章名称从而导致url改变)</p>
            <a href="/" class="text-blue-500 hover:text-blue-700 blue-hover">返回首页</a>
        </div>

    </div>
</div>
{{ end }}