{{ define "main" }}

{{ $paginator := .Paginate (.Site.RegularPages) }}

{{/* posts list */}}
<div>
    {{ if not $paginator.HasPrev }}
    {{/* {{ partial "profile.html" . }} */}}

    {{/* <div class="pt-10 pb-5">
        <a class="font-bold text-3xl"> Top Posts </a>
    </div> */}}
    {{/* top posts */}}

    {{ range $paginator.Pages }}
    {{ if .Params.top }}
    <div class="pb-5">
        {{/* Items */}}
        <div class="text-xl hover:font-bold hover:text-blue-500">
            <pre><a class="font-wenkai" href="{{ .RelPermalink }}"> [ 置顶 ] {{ .Title }}</a></pre>
        </div>

        {{/* Summary */}}
        {{ if .Site.Params.showSummary }}
        <div class="text-sm">
            {{ .Summary | plainify | htmlUnescape }}
        </div>
        {{ end }}

    </div>
    {{ end }}
    {{ end }}
    {{ end }}

    {{/* <div class="pt-16 pb-5">
        <a class="font-bold text-3xl"> Recent Posts </a>
    </div> */}}

    {{/* not top posts */}}
    {{ range $paginator.Pages }}
    {{ if not .Params.top }}
    <div class="pb-5">
        <div class="text-xl hover:font-bold hover:text-blue-500">
            <pre><a class="font-wenkai" href="{{ .RelPermalink }}">{{ .Title }}</a></pre>
        </div>

        {{ if .Site.Params.showSummary }}
        <div class="text-sm">
            {{ .Summary | plainify | htmlUnescape }}
        </div>
        {{ end }}

    </div>
    {{ end }}
    {{ end }}
</div>

{{/* prev page and next page button */}}
<div class="flex pt-10">
    {{ if or ($paginator.HasPrev) ($paginator.HasNext) }}

    {{ if $paginator.HasPrev}}
    <a class="right-0 hover:font-bold hover:text-blue-500" href="{{.Paginator.Prev.URL}}">
        <span>←</span> {{i18n "postsNewer"}}
    </a>
    {{ end }} {{/* end has prev */}}

    <a class="mx-auto"></a>

    {{ if $paginator.HasNext }}
    <a class="left-0 hover:font-bold hover:text-blue-500" href="{{.Paginator.Next.URL}}">
        {{ i18n "postsOlder" }}<span>→</span>
    </a>
    {{ end }} {{/* end has next*/}}

    {{ end }} {{/* end or */}}
</div>




{{ end }} {{/* define */}}