{{ define "main" }}

<div class="mx-auto w-full md:w-3/4 lg:w-3/4 xl:w-1/2 ">
    <div class="flex flex-col sm:flex-row mt-10">

        <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
            <div class="w-20 h-20 rounded-full inline-flex items-center justify-center">
                <img src="{{ relURL "./pic/jihan.jpg"}}" class="rounded-full" />
            </div>

            <div class="flex flex-col items-center text-center justify-center">
                <h2 class="font-medium title-font mt-4 text-gray-900 text-lg">{{ .Site.Params.author }}</h2>
                <div class="w-12 h-1 bg-blue-300 rounded mt-2 mb-4"></div>
                <p class="text-base">{{ .Site.Params.subtitle }}</p>
            </div>
        </div>

        <div
            class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
            <p class="leading-relaxed text-lg mb-4">{{.Content}}</p>
        </div>

    </div>
</div>
{{ end }}